name: Check code style

on:
  [ push, pull_request ]

permissions:
  contents: read
  pages: write
  id-token: write


jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ 3.12 ]

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Git repository
        uses: actions/checkout@v2

      # Setup Python with version from matrix
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Install requirements
      - name: Install requirements

        # Runs command-line programs using the operating system's shell
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r requirements.txt
          python -m pip list

      # Install pre-commit from .pre-commit-config.yaml
      - name: Install pre-commit
        run: |
          pre-commit install

      # Run pre-commit on all the files in the repo
      - name: Run pre-commit
        run: |
          pre-commit run --all-files --color always --verbose --show-diff-on-failure

      - name: Run pytests
        run: |
          python -m pytest -vv -s tests

      - name: Run mypy
        run: |
          python -m mypy --config-file mypy.ini --python-version 3.12 config core decorators providers storage utils main.py
